$azul-sebrae: #005eb8 !default;

//
// Variáveis do CSS do site
// --------------------------------------------------
//

// Cores da identidade

//links
$link-color-blue: #1383c4;
$link-color-dark-blue: #005689;
$link-hover-color-blue: #80ccfa;

// Cores genéricas
$light-blue: #43bdd6;
$red: #db340b;
$light-red: #ffc1b3;
$dark-red: #731d24;
$green: #83bf30;
$dark-green: #35b068;
$light-green: #c2efd1;
$light-green-two: #229d59;
$aqua: #c5d0de;
$yellow: #ffbf40;
$dark-yellow: #997326;
$blue: #2d66b7;
$navy: #2c3e50;
$teal: #14adcc;
$black-teal: #70a9a1;
$olive: #00cc92;
$lime: #01ff70;
$orange: #ff8040;
$fuchsia: #913e7e;
$purple: #643cc6;
$maroon: #996f45;
$black: #222;
$gray: #a1adb3;
$light-gray: #f5f5f5;
$light-gray-lines: #bec5cb;
$light-gray-base: #F5F5F5;
$white: #fff;

//Cores
$blue-darken-one: #0F438A;
$blue-light-one: #F0F6FE;
$blue-light-two: #3b5775;
$text-color: #566573;

$blue-one: #0068ae;
$blue-two: #08456e;
$green-one: #0c5e3d;
$orange-one: #f69f3f;

//$orange-one:;
// Caminhos para imagens
$image-path-theme: "../images";

// Typografia e relação de 1.2 (): Fontes etc
$font-size-base: 100%;
$line-height-base: 1.15;

$fontsize-md: 1rem; //Tamanho base, geralmente 1rem = 1em = 16px
$ratio-value: 1.2; // Relação do Terço menor, (1.2)

$fontsize-xs: $fontsize-md / 2 * $ratio-value;
$fontsize-sm: $fontsize-md / $ratio-value;
$fontsize-mdplus: $fontsize-md + (0.2 * $ratio-value);
$fontsize-lg: $fontsize-md + (0.37 * $ratio-value);
$fontsize-xl: $fontsize-md + (0.6 * $ratio-value);
$fontsize-xxl: $fontsize-md + (0.9 * $ratio-value);
$fontsize-2xl: $fontsize-md + (1.24 * $ratio-value);
$fontsize-3xl: $fontsize-md + (1.65 * $ratio-value);

$border-radius-sm: 4px;
$border-radius-md: 8px;

// fontes especiais
$font-path: "../css/fonts";
$lato-fontfamily: "lato", Verdana, "Helvetica Neue", Helvetica, Arial,
  sans-serif;

// Headings
$headings-font-family: $lato-fontfamily;
$headings-font-weight: normal;
$headings-line-height: 1.1;
$headings-color: inherit;

$destaque-height: 100%;


$navbar-default-bg: #f8f8f8;
$navbar-default-border: darken($navbar-default-bg, 6.5%);
$navbar-inverse-bg: #222;
$navbar-inverse-border: darken($navbar-inverse-bg, 10%);

$grid-float-breakpoint-max: 767px;


$sidebar-width: 250px;
$sidebar-transition-duration: 500ms;
$sidebar-transition-easing: ease;
$sidebar-transition: $sidebar-transition-duration $sidebar-transition-easing;

// ícones
// Font glyphicons (altereda por conta da estrutura de pastas)
//$glyphicons-font-path: "glyphicons";

// Font ionicons
//$ionicons-font-path: "ionicons";


$btn-default-color: #333;
$btn-default-bg: #fff;
$btn-default-border: #ccc;

$btn-primary-color: $white;
$btn-primary-bg: $blue;
$btn-primary-border: 0;

$btn-success-color: $white;
$btn-success-bg: $green;
$btn-success-border: 0;

$btn-info-color: $white;
$btn-info-bg: $light-blue;
$btn-info-border: 0;

$btn-warning-color: $white;
$btn-warning-bg: $orange;
$btn-warning-border: 0;

$btn-danger-color: #fff;
$btn-danger-bg: $red;
$btn-danger-border: 0;

$btn-link-disabled-color: $light-gray;

// Bootstrap select

$color-red-error: rgb(185, 74, 72);
$color-grey-arrow: rgba(204, 204, 204, 0.2);

$width-default: 220px; // 3 960px-grid columns

$zindex-select-dropdown: 1060; // must be higher than a modal background (1050)

//** Placeholder text color
$input-color-placeholder: #999;
